@import "../js/ext/bootstrap/less/bootstrap.less";
@import "../js/ext/bootstrap/less/theme.less";
@import (less) "../js/ext/font-awesome/css/font-awesome.css";

/*  Value formating */
.negativeAmount {
    color:red;
}

/*   Tight grid */
.table-condensed2 > thead > tr > th,
.table-condensed2 > tbody > tr > th,
.table-condensed2 > tfoot > tr > th,
.table-condensed2 > thead > tr > td,
.table-condensed2 > tbody > tr > td,
.table-condensed2 > tfoot > tr > td {
  padding: 0px;
  font-size: 85%;
}

.itemCountCell {
}

.condencedDataGrid
    :extend(.table all)
    :extend(.table-hover all) 
    :extend(.table-responsive all)
    :extend(.table-condensed2 all) {
}


.txRowVisible {
    display:table-row;
}

.txRowCollapsed {
    display:none;
}

.txGroupRow {
}

.txTopLevelRow {
}

.txRowExpanderControl {
    text-decoration:none;
    font-style:normal;
    font-weight:normal;
    border-bottom:1px dashed;
    border-bottom-color: grey;
    color:inherit;
    cursor:pointer;

    .hoverIcon {
        display: none;
    }
    &:hover > .hoverIcon {
        display:inline;
    }
}

/*  Todo icon */
@flag-rotation: 10deg;
.todoPendingIcon:extend(.fa all):extend(.fa-flag all) {
    .rotate(@flag-rotation);
    color: deeppink;
}
.todoPartPendingIcon:extend(.fa all):extend(.fa-flag-checkered all) {
    .rotate(@flag-rotation / 2);
    color: orange;
}
.todoColumnIcon:extend(.fa all):extend(.fa-flag-o all) {
    .rotate(@flag-rotation / 2);
    color: silver;
}
.todoDoneIcon:extend(.fa all):extend(.fa-check all) {
    color: lightgrey;
}

/*  Note icon */
.noteIcon:extend(.fa all):extend(.fa-file all) {
    color: yellow;
}
.notePartIcon:extend(.fa all):extend(.fa-files all) {
    color: yellow;
}
.noteColumnIcon:extend(.fa all):extend(.fa-file-o all) {
    color: silver;
}

.rowsExpandIcon:extend(.fa all):extend(.fa-plus-square-o all) {
}
.rowsCollapseIcon:extend(.fa all):extend(.fa-minus-square-o all) {
}

.nbspIcon:extend(.fa all):extend(.fa-square all) {
    visibility:hidden;
}

.condencedIcon {
    //font-size: 90%;
}