@import  "common/common.less";
@import  "icons.less";

/*  Value formating */
.negativeAmount {
    color:red;
}

.groupValuesTop {
}

.txRowVisible {
    display:table-row;
}
.txRowInvisible {
    display:none;
}

.txTxRow {
    background-color: lightgoldenrodyellow;
}

.txGroupRow {
}

.txTopLevelGroup {
    .h4;
    border-bottom: 2px solid #dddddd;
}

.txRowExpanderControl:extend(.hoverLinkButton all) {

}

.topLevelGroupSummary {
    .text-right;
    .text-muted;
    .small;
}

#txListControl .popover {
    max-width:inherit;
}

.app-hint:extend(.hint--top all, .hint--rounded all, .hint--bounce all, .hint--info all, .hint--multiline all) {
    .opacity(.8);
}
