.siteHeader, .siteNav, .siteNavControl { 
    /* Remove unnecessory thick spacing around header and top menu */ 
    padding: 0;
    margin: 0;
}

.siteNavControl {
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.siteRoot {
    width:95%;
    margin: 0 auto; /* center */
    vertical-align: middle;
}

.pageNav, .pageContent, .pageAside {
     display: table-cell;
     vertical-align: top;
}

.pageRoot {

}

.pageNav {
    padding-right: 1em;
    margin-right: 1em;
}

.pageContent {
    width:100%;

    /* seperator left */
    padding-left: 1em;
    border-left: solid;
    margin-left: 1em;
    border-left-width: 2px;
}

.pageAside {
    /* seperator */
    padding-left: 1em;
    border-left: dotted;
    margin-left: 1em;
    border-left-width: 1px;
}

@media screen and (orientation:portrait)  { 
    /* Switch to absolute pos layout and pull pageAside on top */
    .pageNav, .pageContent, .pageAside {
         display: table-row;
         border: none;
    }
}


#log {
    position: absolute;
    bottom: 2%;
    font-family: "Lucida Console", Monaco, monospace;
    font-size:small;
    background-color:black;
    color: grey;
    border: thin;
    overflow: scroll;
    height: 10%;
}
