#log {
    position: absolute;
    bottom: 2%;
    font-family: "Lucida Console", Monaco, monospace;
    font-size:small;
    background-color:black;
    color: grey;
    border: thin;
    overflow: scroll;
    height: 10%;
}

.navMonth a:link {
    text-decoration:  none;
}

#txNavigationContainer {
    float: left;
}

#txListContainer {
    float: left;
}