                {{#each toTxArray}}
                    <tr data-parentgroupid="{{../groupId}}" 
                        class="{{#unless ../effectiveParentForTx.isTopLevel}}txTxRow{{/unless}}{{#unless ../isTxVisible}} txRowInvisible{{/unless}}"
                        data-txid="{{id}}">
                        <td>
                        </td>
                        <td>
                            {{repeatString "&nbsp" ../effectiveParentForTx.depth 4 4}}

                            {{correctedValues.entityNameBest}}

                            <!-- tx Icons -->
                            {{#if correctedValues.note}}&nbsp;&nbsp;<i class="noteLinesIcon"></i>{{/if}}

                            {{#if correctedValues.isFlagged}}
                                &nbsp;&nbsp;<i class="todoPendingIcon"></i>
                            {{else}}
                                {{#compare correctedValues.isFlagged "!typeof" "undefined"}}
                                    &nbsp;&nbsp;<i class="todoDoneIcon"></i>
                                {{/compare}}
                            {{/if}}
                        </td>
                        <td {{#compare correctedValues.amount "<" 0}} class="negativeAmount" {{/compare}}>
                            {{formatCurrency correctedValues.amount}}
                        </td>
                        <td>
                            1 {{txTransactionReasonDisplay correctedValues.transactionReason}}
                        </td>
                        <td>
                            {{txTransactionDateDisplay correctedValues.transactionDateParsed}}
                        </td>
                        <td>
                            {{accountId}}
                        </td>
                        <td>
                            <div class="dropdown">
                                <!-- edit icon and dropdown trigger -->
                                <a class="dropdown-toggle hoverLinkButton" role="button" data-toggle="dropdown" data-target="#">
                                    &nbsp;<i class="editIcon"></i>&nbsp;
                                </a>

                                <!-- dropdown -->
                                <ul class="dropdown-menu" role="menu">
                                  <!-- category menu -->
                                  <li>
                                      <a tabindex="-1" data-menuitem="editCategory" href="#">
										<i class="categoryIcon"></i>&nbsp;&nbsp;
                                        {{#if correctedValues.categoryPath}}Edit Category
										{{else}}Add Category
										{{/if}}										  
                                      </a>
                                  </li>

                                    <!-- flag menu -->
                                  <li>
                                    <a tabindex="-1" data-menuitem="setFlag" href="#"
										data-menuparams="{ &quot;isSet&quot;: {{#if correctedValues.isFlagged}}false{{else}}true{{/if}} }">

                                        {{#if correctedValues.isFlagged}}
                                            <i class="todoDoneIcon"></i>&nbsp;&nbsp;Remove flag
                                        {{else}}
                                            <i class="todoPendingIcon"></i>&nbsp;&nbsp;Flag this
                                        {{/if}}								  
                                    </a>
                                  </li>

                                  <!-- comment menu -->
                                  <li>
                                      <a tabindex="-1" data-menuitem="editNote" href="#">
                                        {{#if correctedValues.note}}<i class="noteLinesIcon"></i>&nbsp;&nbsp;Edit Note
										{{else}}<i class="noteEmptyIcon"></i>&nbsp;&nbsp;Add Note
										{{/if}}										  
                                      </a>
                                  </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {{/each}}
