	<table class="condencedDataGrid">
		<thead>
			<tr>
                {{#if options.enableExpandCollapse}}
				<th>+</th>
                {{/if}}

				<th>Name</th>
				<th>Amount</th>
				<th>Reason</th>
				<th>Date</th>
				<th>Account</th>
                {{#if options.enableEdits}}
				<th>Edit</th>
                {{/if}}
			</tr>
		</thead>
		<tbody>
			{{> txGroup}}
		</tbody>
	</table>

    <!-- Confirm edit save modal -->
    <div class="txListConfirmEditSaveModalContainer">
    </div>