				{{#toChildAggregatorsArray}}
					
                    {{#if options.groupHeaderVisible}}
					<!-- no header for single item non-top groups -->
					<tr class="txGroupRow{{#if isTopLevel}} txTopLevelGroup{{/if}}{{#unless isVisible}} txRowInvisible{{/unless}}" 
					data-groupid="{{groupId}}"
					data-parentgroupid="{{parent.groupId}}"
					data-ischildrenvisible="{{isChildrenVisible}}">
						{{#if isTopLevel}}
                            {{#if options.enableExpandCollapse}}
							<td><!-- + column--></td>
                            {{/if}}

							<td colspan="1">
								{{options.title}}
							</td>
							<td colspan="4" class="topLevelGroupSummary">
								<small>
									{{formatCurrency sum}} in {{txTransactionReasonCounterDisplay transactionReasonCounter}}
								</small>
							</td>
                            {{#if options.enableEdits}}
							<td><!--edit column--></td>
                            {{/if}}
						{{else}}
                            {{#if options.enableExpandCollapse}}
							<td>
								<a class="txRowExpanderControl">
									{{#if isChildrenVisible}}
										&nbsp;<span class="expanderTitle">&ndash;</span>&nbsp;
									{{else}}
										&nbsp;<span class="expanderTitle">+</span>&nbsp;
									{{/if}}
								</a>							
							</td>
                            {{/if}}

							<td>
                                <span>{{repeatString "&nbsp" groupIndentLevel 4}}{{options.title}}</span>
                                {{#if options.enableIndicators}}
                                <span>
								<!-- Tx icons -->
								<!-- note icon -->
								{{#compare noteCounter.notMissedCount "===" noteCounter.count}}
                                    <span class="tooltip-info" data-html="true"  title="{{noteFullView noteCounter.keyCounts}}">
									    <span>&nbsp;&nbsp;<i class="noteManyIcon"></i></span>
                                        <span class="small text-muted">{{{notePreview noteCounter.keyCounts}}}</span>
                                    </span>
								{{else}}
									{{#compare noteCounter.notMissedCount ">=" 1}}
                                        <span class="tooltip-info" data-html="true" title="{{noteFullView noteCounter.keyCounts}}">
										    <span>&nbsp;&nbsp;<i class="noteLinesIcon"></i></span>
                                            <span class="small text-muted">{{{notePreview correctedValues.keyCounts}}}</span>
                                        </span>
									{{/compare}}
								{{/compare}}

								<!-- flag icon -->
								{{#compare flagCounter.keyCounts.trueValue "===" flagCounter.count}}
									<span>&nbsp;&nbsp;<i class="todoPendingIcon"></i></span>
								{{else}}
									{{#compare flagCounter.keyCounts.trueValue ">=" 1}}
										<span>&nbsp;&nbsp;<i class="todoPartPendingIcon"></i></span>
									{{else}}
										{{#compare flagCounter.keyCounts.falseValue ">" 0}}
											<span>&nbsp;&nbsp;<i class="todoDoneIcon"></i></span>
										{{/compare}}
									{{/compare}}
								{{/compare}}
                                {{/if}}
                                </span>
							</td>
							<td>
								<span class="txRowExpanderControl">
									<span {{#compare sum "<" 0}}class="negativeAmount"{{/compare}}> 
										{{formatCurrency sum}} 
									</span>
									<span class="moreIndicator">&hellip;</span>
								</span>
							</td>
							<td>
								{{txTransactionReasonCounterDisplay transactionReasonCounter}}
							</td>
							<td>
								<span {{#compare transactionDateCounter.keyCount ">" 1}} class="txRowExpanderControl" {{/compare}}>
									{{txTransactionDateDisplay transactionDateCounter.top.key}}
									{{#compare transactionDateCounter.keyCount ">" 1}} <span class="moreIndicator">&hellip;</span> {{/compare}}
								</span>
							</td>
							<td>
								<span {{#compare accountCounter.keyCount ">" 1}} class="txRowExpanderControl" {{/compare}}>
									{{accountCounter.top.key}}
									{{#compare accountCounter.keyCount ">" 1}} <span class="moreIndicator">&hellip;</span> {{/compare}}
								</span>
							</td>
                            {{#if options.enableEdits}}
							<td>
								<div class="dropdown">
									<!-- edit icon and dropdown trigger -->
									<a class="dropdown-toggle hoverLinkButton" role="button" data-toggle="dropdown" data-target="#">
										&nbsp;<i class="editIcon"></i>&nbsp;
									</a>

									<!-- dropdown -->
									<ul class="dropdown-menu" role="menu">
										<!-- category menu -->
										<li>
										{{#compare categoryPathStringCounter.missedCount "===" categoryPathStringCounter.count}}
											<a tabindex="-1" data-menuitem="editCategory" href="#">
												<i class="categoryIcon"></i>&nbsp;&nbsp;
                                                Add category
											</a>
										{{else}}
											{{#if categoryPathStringCounter.allSame}}
												<a tabindex="-1" data-menuitem="editCategory" href="#">
													<i class="categoryManyIcon"></i>&nbsp;&nbsp;
                                                    Edit category
												</a>
											{{else}}
												<a tabindex="-1" data-menuitem="editCategory" href="#">
													<i class="categoryManyIcon"></i>&nbsp;&nbsp;
                                                    Change categories for all
													{{#compare categoryPathStringCounter.keyCount ">" 1}}
														<p class="small text-danger">
															WARNING: {{categoryPathStringCounter.keyCount}} different categories
														</p>
													{{/compare}}
												</a>
											{{/if}}
										{{/compare}}
										</li>

                                        <!-- Fix errors menu -->
                                        <li>
                                            <a tabindex="-1" data-menuitem="fixAttributeErrors" href="#">
                                                <i class="fixAttributeErrorsIcon"></i>&nbsp;&nbsp;
                                                Fix Errors
                                            </a>
                                        </li>

										<!-- flag menu -->
										<li>
											{{#compare flagCounter.keyCounts.trueValue "===" flagCounter.count}}
												<a tabindex="-1" data-menuitem="setFlag" data-menuparams="{&quot;isSet&quot;: false}" href="#">
													<i class="todoDoneIcon"></i>&nbsp;&nbsp;
                                                    Remove all {{flagCounter.count}} flags
												</a>
											{{else}}
												<a tabindex="-1" data-menuitem="setFlag" data-menuparams="{&quot;isSet&quot;: true}" href="#">
													<i class="todoPendingIcon"></i>&nbsp;&nbsp;
                                                    Flag {{flagCounter.keyCounts.falseValue}} transactions
												</a>
												{{#compare flagCounter.keyCounts.trueValue ">=" 1}}
													<a tabindex="-1" data-menuitem="setFlag" data-menuparams="{&quot;isSet&quot;: false}" href="#">
														<i class="todoDoneIcon"></i>&nbsp;&nbsp;
                                                        Remove {{flagCounter.keyCounts.trueValue}} flags
													</a>
												{{/compare}}
											{{/compare}}
										</li>

										<!-- note menu -->
										<li>
										{{#compare noteCounter.missedCount "===" noteCounter.count}}
											<a tabindex="-1" data-menuitem="editNote" href="#">
												<i class="noteEmptyIcon"></i>&nbsp;&nbsp;
                                                Add note
											</a>
										{{else}}
											{{#if noteCounter.allSame}}
												<a tabindex="-1" data-menuitem="editNote" href="#">
													<i class="noteManyIcon"></i>&nbsp;&nbsp;
                                                    Edit note
												</a>
											{{else}}
												<a tabindex="-1" data-menuitem="editNote" href="#">
													<i class="noteManyIcon"></i>&nbsp;&nbsp;
                                                    Change notes for all
													{{#compare noteCounter.keyCount ">" 1}}
														<p class="small text-danger">
															WARNING: {{noteCounter.keyCount}} different notes
														</p>
													{{/compare}}
												</a>
											{{/if}}
										{{/compare}}
										</li>
									</ul>
								</div><!--dropdown-->
							</td>
                            {{/if}}<!--options.enableEdits-->
						{{/if}}
					</tr>
                    {{/if}}

					<!-- if leaf group, print transactions as child else print child groups -->
					{{#if rows}}		
						{{> tx }}
					{{else}}
						{{> txGroup}}
					{{/if}}

				{{/toChildAggregatorsArray}}